# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# CUDA / NVCC intermediate artifacts
*.ptx
*.cubin
*.fatbin
*.nvvp
*.cudafe1.cpp
*.cudafe1.stub.c
*.module_id
tmpxft_*

# Visual Studio workspace artifacts
.vs/

# Build script
build_run.bat

# Executables por version
main_gpu.exe
main_seq.exe
